### EDA on Austin Animal Shelter Data: Cats Only

In [2]:
#### Importing the necessary libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#### Loading the dataset

df = pd.read_csv('aac_shelter_cat_outcome_eng.csv')

In [4]:
#### Understanding the columns and structure of the dataset

df.info()

## Dataset contains 37 columns and 29,421 rows
## Several colummns contain many null values: outcome_subtype, name, breed2, coat_pattern, color2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29421 entries, 0 to 29420
Data columns (total 37 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   age_upon_outcome      29421 non-null  object
 1   animal_id             29421 non-null  object
 2   animal_type           29421 non-null  object
 3   breed                 29421 non-null  object
 4   color                 25795 non-null  object
 5   date_of_birth         29421 non-null  object
 6   datetime              29421 non-null  object
 7   monthyear             29421 non-null  object
 8   name                  16647 non-null  object
 9   outcome_subtype       18641 non-null  object
 10  outcome_type          29418 non-null  object
 11  sex_upon_outcome      29421 non-null  object
 12  count                 29421 non-null  int64
 13  sex                   29421 non-null  object
 14  Spay/Neuter           29421 non-null  object
 15  Periods               29421 non-null  int64
 16  Period Range          29421 non-null  int64
 17  outcome_age_(days)    29421 non-null  int64
 18  outcome_age_(years)   29421 non-null  float64
 19  Cat/Kitten (outcome)  29421 non-null  object
 20  sex_age_outcome       29421 non-null  object
 21  age_group             29421 non-null  object
 22  dob_year              29421 non-null  int64
 23  dob_month             29421 non-null  int64
 24  dob_monthyear         29421 non-null  object
 25  outcome_month         29421 non-null  int64
 26  outcome_year          29421 non-null  int64
 27  outcome_weekday       29421 non-null  object
 28  outcome_hour          29421 non-null  int64
 29  breed1                29421 non-null  object
 30  breed2                52 non-null     object
 31  cfa_breed             29421 non-null  bool
 32  domestic_breed        29421 non-null  bool
 33  coat_pattern          19155 non-null  object
 34  color1                29421 non-null  object
 35  color2                10354 non-null  object
 36  coat                  29421 non-null  object
dtypes: bool(2), float64(1), int64(9), object(25)
memory usage: 7.9+ MB

#### Investigating Null Values

In [5]:
#### dropping null columns/columns that won't impact analysis

## keeping name column: has many null values, however, I am interested to see if the named cats have different trends in adoption outcome than unnamed - people may be more likely to adopt animals they see as pets as opposed to strays? or more likely to adopt unnamed because maybe kittens are more likely to be unnamed and kittens may have higher adoption rate than cats?

## outcome_subtype has many null values - lets explore
df['outcome_subtype'].value_counts()

outcome_subtype
Partner           9486
Foster            3357
SCRP              3211
Suffering         1303
Snr                625
In Kennel          215
In Foster          152
Offsite            110
Rabies Risk         61
Medical             56
At Vet              33
Enroute             15
In Surgery           8
Aggressive           4
Barn                 2
Possible Theft       2
Underage             1
Name: count, dtype: int64

In [6]:
# is there a pattern or reason for null values in outcome_subtype? creating a dataframe of rows where subtype is null to investigate
OS_null = df[df['outcome_subtype'].isnull()]
OS_null.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10780 entries, 1 to 29420
Data columns (total 37 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   age_upon_outcome      10780 non-null  object
 1   animal_id             10780 non-null  object
 2   animal_type           10780 non-null  object
 3   breed                 10780 non-null  object
 4   color                 9370 non-null   object
 5   date_of_birth         10780 non-null  object
 6   datetime              10780 non-null  object
 7   monthyear             10780 non-null  object
 8   name                  9056 non-null   object
 9   outcome_subtype       0 non-null      object
 10  outcome_type          10777 non-null  object
 11  sex_upon_outcome      10780 non-null  object
 12  count                 10780 non-null  int64
 13  sex                   10780 non-null  object
 14  Spay/Neuter           10780 non-null  object
 15  Periods               10780 non-null  int64
 16  Period Range          10780 non-null  int64
 17  outcome_age_(days)    10780 non-null  int64
 18  outcome_age_(years)   10780 non-null  float64
 19  Cat/Kitten (outcome)  10780 non-null  object
 20  sex_age_outcome       10780 non-null  object
 21  age_group             10780 non-null  object
 22  dob_year              10780 non-null  int64
 23  dob_month             10780 non-null  int64
 24  dob_monthyear         10780 non-null  object
 25  outcome_month         10780 non-null  int64
 26  outcome_year          10780 non-null  int64
 27  outcome_weekday       10780 non-null  object
 28  outcome_hour          10780 non-null  int64
 29  breed1                10780 non-null  object
 30  breed2                26 non-null     object
 31  cfa_breed             10780 non-null  bool
 32  domestic_breed        10780 non-null  bool
 33  coat_pattern          7159 non-null   object
 34  color1                10780 non-null  object
 35  color2                3990 non-null   object
 36  coat                  10780 non-null  object
dtypes: bool(2), float64(1), int64(9), object(25)
memory usage: 3.0+ MB

In [7]:
# possibly some outcomes require a subtype and others do not, if so, the column may still be valuable for analysis. exploring outcomes in this dataframe versus full dataset
OS_null['outcome_type'].value_counts()

outcome_type
Adoption           9264
Return to Owner    1431
Rto-Adopt            33
Died                 17
Disposal             16
Euthanasia           11
Missing               5
Name: count, dtype: int64

In [8]:
df['outcome_type'].value_counts()

# great! all transfers have a subtype while all return to owner, rto-adopt, disposal do not. many adoptions have a subtype as do many euthanasia entries, however many deaths do not.
# this column is still valuable, at least in this stage, for further exploration and visualization.

outcome_type
Transfer           13323
Adoption           12732
Euthanasia          1452
Return to Owner     1431
Died                 403
Rto-Adopt             33
Missing               28
Disposal              16
Name: count, dtype: int64

In [9]:
#### breed2 has only 52 non-null values, it can likely be dropped. first, lets investigate why there are three columns dealing with breed
df['breed'].value_counts()

#### it appears that breed1 and breed2 allow for more specific analysis of the mixed breed cats in the dataset - these columns can remain for now as this may be helpful, especially in the exploratory phase, though they might bog down analysis in the future and could potentially be removed.

breed
domestic shorthair                      23720
domestic mediumhair                      2454
domestic longhair                        1273
siamese                                  1058
american shorthair                        211
                                        ...
snowshoe/domestic shorthair                 1
domestic longhair/russian blue              1
havana brown                                1
domestic shorthair/british shorthair        1
domestic mediumhair/manx                    1
Name: count, Length: 65, dtype: int64

In [10]:
#### remaining columns with many null values contain specific aesthetic information: coat_pattern, color2
df['coat_pattern'].value_counts()

coat_pattern
tabby       13613
tortie       1547
calico       1494
point        1297
torbie       1035
smoke         156
agouti          6
brindle         4
tricolor        3
Name: count, dtype: int64

In [11]:
#### color has three columns as well and is the same as breed, they can all remain for now.
df['color2'].value_counts()

color2
white         8617
black          708
brown          359
blue           253
orange         201
gray            92
cream           47
blue cream      21
tan             20
seal             7
silver           7
chocolate        6
lynx             5
buff             4
red              3
flame            1
apricot          1
yellow           1
lilac            1
Name: count, dtype: int64

### Further EDA: Exploring relationships and distributions

In [ ]:
#### The majority of the rest of this exploration will be done by creating visualizations in Tableau.

#### Summary Statistics for numerical columns

In [15]:
 df['count'].max(), #.min(), and .mean() are all 1 - this column is useless.
df = df.drop(columns = "count")

In [20]:
print("Mean = ", df['Periods'].mean())
print("Median = ", df['Periods'].median())
print("Min = ", df['Periods'].min())
print("Max = ", df['Periods'].max())

Mean =  3.1993474049148567
Median =  2.0
Min =  0
Max =  22

In [21]:
print("Mean = ", df['Period Range'].mean())
print("Median = ", df['Period Range'].median())
print("Min = ", df['Period Range'].min())
print("Max = ", df['Period Range'].max())

Mean =  143.19982325549776
Median =  30.0
Min =  1
Max =  365

In [25]:
print("Mean = ", df['outcome_age_(days)'].mean())
print("Median = ", df['outcome_age_(days)'].median())
print("Min = ", df['outcome_age_(days)'].min())
print("Max = ", df['outcome_age_(days)'].max())

Mean =  509.4462798681214
Median =  90.0
Min =  0
Max =  8030

In [26]:
print("Mean = ", df['outcome_age_(years)'].mean())
print("Median = ", df['outcome_age_(years)'].median())
print("Min = ", df['outcome_age_(years)'].min())
print("Max = ", df['outcome_age_(years)'].max())

Mean =  1.395743232515401
Median =  0.2465753424657534
Min =  0.0
Max =  22.0

In [27]:
print("Mean = ", df['dob_year'].mean())
print("Median = ", df['dob_year'].median())
print("Min = ", df['dob_year'].min())
print("Max = ", df['dob_year'].max())
# should be treated as categorical

Mean =  2013.9824275177593
Median =  2015.0
Min =  1992
Max =  2017

In [29]:
print("Mean = ", df['dob_month'].mean())
print("Median = ", df['dob_month'].median())
print("Min = ", df['dob_month'].min())
print("Max = ", df['dob_month'].max())
# should be treated as categorical

Mean =  6.190034329220625
Median =  6.0
Min =  1
Max =  12